# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment ---
venv/
env/
.venv/

# --- Database ---

*.db
*.sqlite3
instance/

# --- Environment Variables ---

.env
.flaskenv

# --- Uploads ---

static/uploads/*
!static/uploads/.gitkeep

# --- IDEs and Editors ---
.vscode/
.idea/
*.swp
.DS_Store